= form_tag messages_contact_path, class: "well well-sm col-md-4 col-md-offset-4", role: "form" do 
  .form-group.input-group
    %span.input-group-addon
      %i Name:
    = text_field_tag :name, nil, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Email:
    = text_field_tag :email, nil, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Message:       
    = text_area_tag :message, nil, class: "form-control"

  = submit_tag "Ok", class: "form-control"

