= form_for @good, html: { class: "well well-sm", role: "form" } do |f|
  - if @good.errors.any?
    #error_explanation
      %h2 Ошибок: #{@good.errors.count}
      %ul
        - @good.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Наименование:
    = f.text_area :title, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Короткое имя:
    = f.text_field :short_name, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Идентификатор яндекса:       
    = f.text_field :yandex_id, class: "form-control"


  = f.submit 'Сохранить', class: "btn btn-primary"


  = link_to 'Вернуть', reload_form_eldo_good_path(@good), class: "btn btn-warning pull-right", remote: true

