.row
  .col-md-3
    = image_tag @good.image

  .col-md-9
    %table
      %thead
        %tr
          %th Категория
          %th Эльдорадо Id
          %th Наименование
          %th Бренд
          %th Краткое имя
          %th Бонус
          %th Цена
          %th Yandex Id
      %tbody
        %tr
          %td
            = @good.eldo_category.parent.title
            %br
            = @good.eldo_category.title
          %td= @good.foreign_id
          %td= link_to @good.title, @good.url, target: "_blank" 
          %td= @good.brend
          %td= @good.short_name
          %td= @good.bonus
          %td= @good.price
          %td= @good.yandex_id

    .panel.panel-info
      .panel-heading 
        %strong Яндекс маркет
      .panel-body
        - if @result.blank?
          .alert.alert-danger Не найдено единственного результата по данным товара
        - else  
          %table
            %thead
              %tr
                %th Идентификатор яндекса
                %th Наименование
                %th Цены
                %th 
            %tbody
              %tr
                %td= @result['models'].first['id']
                %td= link_to @result['models'].first['name'], "https://market.yandex.ru/product/#{@result['models'].first['id']}", target: "_blank" 
                %td 
                  - if @result['models'].first['prices']
                    (#{@result['models'].first['prices']['min']} ..  #{@result['models'].first['prices']['avg']} ..  #{@result['models'].first['prices']['max']})
                %td
                  %button.btn.btn-success.btn-xs.pull-right.append_y_result{:data => {:yandex_id => "#{@result['models'].first['id']}", :yandex_name => "#{@result['models'].first['name']}"}} Применить


    = form_tag url_for(action: "custom_search", id: @good.id), class: "well well-sm", role: "form", remote: true do
      .form-group.input-group
        %span.input-group-addon
          %i Поисковый запрос:
        = text_field_tag :search, @good.short_name, class: "form-control"
        %span.input-group-btn
          = submit_tag 'Искать', class: "btn btn-primary"
      #search_result


    .panel.panel-primary
      .panel-heading Редактирование товара:
      .panel-body#form
        = render 'form'
      %span.btn.btn-default.pull-right.btn-xs#popup_close_btn Закрыть

:coffeescript
  $("#popup_close_btn").click ->
    $("#popup_content").html ""
    $("#popup").hide()

- unless @good.brend.blank?
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      y_name = y_name.replace /#{@good.brend}/ig, ""
      $("#eldo_good_short_name").val y_name.strip()
      $("#eldo_good_yandex_id").val $(this).data "yandex-id"
- else
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      $("#eldo_good_short_name").val y_name.strip()
      $("#eldo_good_yandex_id").val $(this).data "yandex-id"

