.page-header
  %h2 
    Эльдорадо.
    = @category.title if @category
    .label.label-default
      = @subcategory.title if @subcategory
      (#{@goods.size} из #{@all_goods_count})
.row
  .col-md-12
    .form-group.input-group
      = link_to "Показать все", eldo_goods_path(show_all: true), class: "btn btn-success form-control"

      %span.input-group-addon
        %i Выберите категорию
      = collection_select(:eldo_category, :id, @categories.roots, :id, :title, |
         {selected: @category ? @category.id : '', prompt: "Все"  }, {class: "form-control"} )
      %span.input-group-addon
        %i Выберите подкатегорию
      = select_tag(:eldo_subcategory_id, options_for_select(@categories.subcategories.map { |m| [m.title, m.id, { class: m.parent_id}] }, selected: @subcategory ? @subcategory.id : ''), |
         { prompt: "Все", class: "form-control"  })
      %span.input-group-addon
        %i Без Яндекс Id
        = check_box_tag :eldo_without_yandex_id, true, session[:eldo_without_ym_id]
      = link_to 'Характеристики CSV',"csv/eldorado_goods_features.csv", class: " btn btn-primary form-control" 

= render 'eldo_goods_table_wice'

