
:erb
  <%= grid(@grid, show_filters: :always, upper_pagination_panel: true) do |g|        
      
      g.column name: 'Ключ МВидео', attribute: 'foreign_id' do |p|  
        p.foreign_id
      end                           
      
      g.column name: 'Фото', attribute: 'image', in_csv: false do |p|  
        image_tag(p.image, style: 'height: 30px')
      end                           

      g.column name: 'Категория', attribute: 'title', model: "MvCategory" do |p| 
        p.mv_category.title
      end  

      g.column name: 'Бренд', attribute: 'brend' do |p| 
        p.brend
      end  

      g.column name: 'Наименование', attribute: 'title' do |p| 
        p.title
      end  

      g.column name: 'Короткое имя', attribute: 'short_name' do |p| 
        p.short_name
      end  

      g.column name: 'Цена', attribute: 'price' do |p| 
        p.price
      end  

      g.column name: 'Бонус', attribute: 'bonus' do |p| 
        p.bonus
      end  

      g.column name: 'Яндекс ID', attribute: 'yandex_id' do |p| 
        p.yandex_id                     
      end                 

      g.column in_csv: false do |p| 
        link_to "Наименования", p, remote: true, class: "btn btn-primary btn-xs", style: "width: 100%"
      end

      g.column in_csv: false do |p| 
        link_to 'Удалить', p, :method => :delete, :data => { :confirm => 'Точно?' }, class: "btn btn-danger btn-xs", style: "width: 100%"
      end

  end%>                         
