
:erb
  <%= grid(@features_grid, show_filters: :no, hide_csv_button: true) do |g|        
      
      g.column name: 'Id товара', attribute: 'good_id' do |p|  
        p.good_id
      end                           
      
      g.column name: 'Ключ МВидео', attribute: 'foreign_id', model: "MvGood", in_html: false do |p|  
        p.mv_good.foreign_id
      end                           
                            
      g.column name: 'Тип характеристики', attribute: 'title', in_html: false do |p| 
        p.title
      end  

      g.column name: 'Характеристика', attribute: 'name', in_html: false do |p| 
        p.name
      end  

      g.column name: 'Значение', attribute: 'sign', in_html: false do |p| 
        p.sign
      end  

  end%>                         
