- if @searched['pager']['total'] == 0
  .alert.alert-danger Нет информации
- else  
  .label.label-default 
  %table
    %thead
      %tr
        %th Наименование
        %th Идентификатор яндекса
        %th Цены
        %th 
    - @searched['models'].each do |model|
      %tbody
        %tr
          %td= link_to model['name'], "https://market.yandex.ru/product/#{model['id']}", target: "_blank"
          %td= model['id']
          %td 
            - if model['prices']
              (#{model['prices']['min']} ..  #{model['prices']['avg']} ..  #{model['prices']['max']})
          %td
            %button.btn.btn-success.btn-xs.pull-right.append_y_result{:data => {:yandex_id => "#{model['id']}", :yandex_name => "#{model['name']}"}} Применить


- unless @good.brend.blank?
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      y_name = y_name.replace /#{@good.brend}/ig, ""
      $("#mv_good_short_name").val y_name.strip()
      $("#mv_good_yandex_id").val $(this).data "yandex-id"
- else
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      $("#mv_good_short_name").val y_name.strip()
      $("#mv_good_yandex_id").val $(this).data "yandex-id"

