%p#notice= notice

%p
  %b Foreign:
  = @good.foreign_id
%p
  %b Title:
  = @good.title
%p
  %b Brend:
  = @good.brend
%p
  %b Short name:
  = @good.short_name
%p
  %b Image:
  = @good.image
%p
  %b Url:
  = @good.url
%p
  %b Bonus:
  = @good.bonus
%p
  %b Price:
  = @good.price
%p
  %b Is yandex model:
  = @good.is_yandex_model
%p
  %b Yandex:
  = @good.yandex_id
%p
  %b Category:
  = @good.category_id

= link_to 'Edit', edit_good_path(@good)
\|
= link_to 'Back', goods_path
