@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.content {width: 100%}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #337ab7;
  &:hover {
    color: black;

  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


table {
  width:100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  background:#eaebec;
  margin:0 auto;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;

  margin-top: 10px;
  margin-bottom: 10px;
}

table table {width: 100%;}
table th {
  padding:5px 10px 5px 10px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  text-shadow: 1px 1px 0px #fff;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  font-weight: bold;
}

table tr{
  text-align: left;
  padding-left:20px;
}

table tr td {
  padding:0px 4px 0px 4px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fff);

}

table tr td input[type="text"]  {width: 100%}
table tr td select  {width: 100%}


.even, table tr.even td{
  background: #ffffef;

}
table tr:last-child td{
  border-bottom:0;
}

table tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


#popup {position: fixed !important;
        background-color: white;
        box-shadow: 3px 5px 6px #555555;
        min-height: 50px;
        display: none;
        z-index: 3003;
        top: 50px;
        background-image: none;
}


#popup_head {padding: 2px; padding-left: 10px; padding-right: 0px;
             background-color: #2D6277; color: white; position: absolute; top: -24px; left: 0px; cursor: move; width: 100%}
#popup_head span {height: 15px; display: inline-block;}
#popup_close {cursor: default; position: absolute; right: 5px; top: 5px;}
#popup_content {max-height: 700px; overflow-y: auto; margin-bottom: 0px; padding: 0px; }
#popup_content .alert{margin-bottom: 0px; padding: 3px; padding-left: 15px;}
#popup_content .well{padding: 3px;}
#popup_content .form-group{margin-bottom: 3px;}
#popup_content .panel-body{padding: 3px;}
#popup_content .panel{margin-bottom: 3px;}
#popup_content .panel-heading{padding: 3px; padding-left: 15px;}
#popup_content table{margin-top: 0px;}
#popup_content th{padding: 3px;}

h2 {font-size: 20px; color: #337ab7}

.navbar-default {margin-bottom: 0px;}

form.well {margin-bottom: 0px}

#search_result {max-height: 200px; overflow-y: auto}


#popup_content #store_qtys { max-height: 300px; overflow-y: auto}
#popup_content .row {
    margin-left: 0px;
    margin-right: 0px;
}

#waiting {position: fixed; top: 49%; left: 49%; z-index: 100000; display: none; box-shadow: 2px 4px 3px black; padding: 20px; background-color: white}