= form_for @product, html: { class: "well well-sm", role: "form" } do |f|
  - if @product.errors.any?
    #error_explanation
      %h2 Ошибок: #{@product.errors.count}
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Наименование:
    = f.text_area :name, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Короткое имя:
    = f.text_field :short_name, class: "form-control"
  .form-group.input-group
    %span.input-group-addon
      %i Идентификатор яндекса:       
    = f.text_field :yandex_modelid, class: "form-control"


  = f.submit 'Сохранить', class: "btn btn-primary"


  = link_to 'Вернуть', reload_form_product_path(@product), class: "btn btn-warning pull-right", remote: true
