%table#products
  %thead
    %tr
      %th Модель
      %th Производитель
      %th Описание
      %th Код производителя
      %th yandex modelid
      %th Краткое наименование
      %th Цена
      %th Наименование
      %th 



  %tbody
    - @products.each do |product|
      %tr
        %td= product[:model_name]
        %td= product.vendor.name if product.vendor
        %td= product.description
        %td= product.vendor_code
        %td= product.yandex_modelid
        %td= product.short_name
        %td= product.price
        %td= product.name
        %td= link_to "Наименования", product, remote: true, class: "btn btn-primary btn-xs", style: "width: 100%"