

:erb
  <%= grid(@grid, show_filters: :always, upper_pagination_panel: true) do |g|        
      
      g.column name: 'Модель', attribute: 'model_name' do |p| 
        if p.vendor && p.entity_type 
          link_to p[:model_name], "http://polus.su/product/#{p.id}", target: "_blank" 

        end  
      end                           

      g.column name: 'Производитель', attribute: 'name', model: "SubVendor" do |p| 
        p.vendor.name if p.vendor                     
      end  

      g.column name: 'Описание', attribute: 'description' do |p| 
        p.description                     
      end  

      g.column name: 'Код производителя', attribute: 'vendor_code' do |p| 
        p.vendor_code                     
      end  

      g.column name: 'Яндекс ID', attribute: 'yandex_modelid' do |p| 
        p.yandex_modelid                     
      end                 

      g.column name: 'Краткое наименование', attribute: 'short_name' do |p| 
        p.short_name
      end  

      g.column name: 'Цена', attribute: 'price' do |p| 
        p.price
      end  

      g.column name: 'Наименование', attribute: 'name' do |p| 
        p.name
      end  

      g.column do |p| 
        link_to "Наименования", p, remote: true, class: "btn btn-primary btn-xs", style: "width: 100%"
      end
  end%>                         
