%table
  %thead
    %tr
      %th Модель
      %th Производитель
      %th Код произв.
      %th yandex ID
      %th Краткое наим.
      %th Цена
      %th Наименование
  %tbody
    %tr
      %td= link_to @product[:model_name], "http://polus.su/product/#{@product.id}", target: "_blank" 
      %td= @product.vendor.name if @product.vendor
      %td= @product.vendor_code
      %td= @product.yandex_modelid
      %td= @product.short_name
      %td= @product.price
      %td= @product.name


= form_tag "/products/custom_search", class: "well well-sm", role: "form", remote: true do
  .form-group.input-group
    %span.input-group-addon
      %i Поисковый запрос:
    = text_field_tag :search, @product.short_name, class: "form-control"
    %span.input-group-btn
      = submit_tag 'Искать', class: "btn btn-primary"
  #search_result



.panel.panel-info
  .panel-heading 
    %strong
      Яндекс маркет. 
      - unless @result.blank?
        Поиск по: #{@result.first.third}
  .panel-body
    - if @result.blank?
      .alert.alert-danger Не найдено единственного результата по данным товара
    - else  
      - @result.each do |res|
        .label.label-default 
        %table
          %thead
            %tr
              %th Поисковый запрос
              %th Идентификатор яндекса
              %th Наименование
              %th Цены
              %th 
          - res.second['models'].each do |model|
            %tbody
              %tr
                %td
                  %strong
                    = res.first
                    (#{res.second['pager']['total']})
                %td= model['id']
                %td= link_to model['name'], "https://market.yandex.ru/product/#{model['id']}", target: "_blank"
                %td 
                  - if model['prices']
                    (#{model['prices']['min']} ..  #{model['prices']['avg']} ..  #{model['prices']['max']})
                %td
                  %button.btn.btn-success.btn-xs.pull-right.append_y_result{:data => {:yandex_id => "#{model['id']}", :yandex_name => "#{model['name']}"}} Применить

    - unless @results.blank?
      %button.btn.btn-info.btn-xs{:aria => {:expanded => "false", :controls => "multiple_results"}, :data => {:toggle => "collapse", :target => "#multiple_results"}} 
        Остальные найденые

      .row.collapse#multiple_results
        - @results.each do |results|
          %div{:class => "col-md-#{12 / @results.size}"}
            .label.label-default
              %strong= results.first
              (#{results.third})
            %table
              %thead
                %tr
                  %th Yandex Id
                  %th Наименование
                  %th Цены
                  %th 
              - results.second['models'].each do |model|
                %tbody
                  %tr
                    %td= model['id']
                    %td= link_to model['name'], "https://market.yandex.ru/product/#{model['id']}", target: "_blank"
                    %td 
                      - if model['prices']
                        = [model['prices']['min'], model['prices']['avg'], model['prices']['max']].join(', ')
                    %td
                      %button.btn.btn-success.btn-xs.pull-right.glyphicon.glyphicon-ok.append_y_result{:data => {:yandex_id => "#{model['id']}", :yandex_name => "#{model['name']}"}}

.panel.panel-primary
  .panel-heading Редактирование товара:
  .panel-body#form
    = render 'form'
  %span.btn.btn-default.pull-right.btn-xs#popup_close_btn Закрыть

:coffeescript
  $("#popup_close_btn").click ->
    $("#popup_content").html ""
    $("#popup").hide()

- if !@product.vendor.blank? && !@product.vendor.name.strip.blank?
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      y_name = y_name.replace /#{@product.vendor.name}/ig, ""
      $("#product_short_name").val y_name.strip()
      $("#product_yandex_modelid").val $(this).data "yandex-id"
- else
  :coffeescript
    $(".append_y_result").click ->
      y_name = $(this).data("yandex-name")
      $("#product_short_name").val y_name.strip()
      $("#product_yandex_modelid").val $(this).data "yandex-id"




