.page-header
  %h2 
    Товары в категории 
    .label.label-default
      = @entity_type.display_name if @entity_type 
      = @quantity 
      из #{@all_products}
.row
  .col-md-8
    .form-group.input-group
      = link_to "Показать все", products_path(show_all: true), class: "btn btn-success form-control"
      %span.input-group-addon
        %i Выберите категорию
      = collection_select(:entity_type, :id, @entity_types, :id, :display_name, |
         {selected: @entity_type ? @entity_type.id : '', prompt: "Все"  }, {class: "form-control"} )
      %span.input-group-addon
        %i Без Яндекс Id
        = check_box_tag :without_yandex_id, true, session[:without_ym_id]
      %span.input-group-addon
        %i На складе
        = check_box_tag :in_stock, true, session[:in_stock]

    
/= will_paginate @products
= render 'products_table_wice'



/%td= link_to 'Edit', edit_product_path(product)

