.page-header
  %h2 Товары найденые в Яндекс маркете (без Яндекс ID): #{@quantity} из #{@all_products}
.row
  .col-md-6
    .form-group.input-group
      = link_to 'Показать все', scan_models_products_path, class: "btn btn-success form-control"
      %span.input-group-addon
        %i Выберите категорию
      = collection_select(:entity_type_scan, :id, @entity_types, :id, :display_name, | 
        {selected: @entity_type ? @entity_type.id : nil, prompt: 'Все' }, {class: "form-control"} )
  .col-md-6
    .form-group.input-group
      = link_to "Запустить проверку", scan_models_products_path(new_scan: true, entity_type_id: @entity_type ? @entity_type.id : nil), class: "btn btn-success"
      %strong Последняя проверка: #{@pass_scan_time.try(:to_datetime).strftime("%d.%m.%Y %H:%m")}

/= will_paginate @products
= render 'products_table_wice'



/%td= link_to 'Edit', edit_product_path(product)

