%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}}
        %span.sr-only Полюс
        %span.icon-bar
      %a.navbar-brand.bg-primary{:href => "/"} Polus.su
    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li{:class => "#{'active' if controller_name == 'products' && action_name == 'index'}"}
          = link_to 'Polus. Все товары', products_path
        %li{:class => "#{'active' if controller_name == 'products' && action_name == 'scan_models'}"}
          = link_to 'Polus. Товары без Яндекс ID найденые в Яндекс маркете', scan_models_products_path
        %li{:class => "#{'active' if controller_name == 'mv_goods'}"}
          = link_to 'МВидео', mv_goods_path
        %li{:class => "#{'active' if controller_name == 'eldo_goods'}"}
          = link_to 'Эльдорадо', eldo_goods_path