!!!
%html
  %head
    %title Полюс
    = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
    = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/menu'

  .container.content
    #waiting= image_tag "wait.gif"
    #popup.col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.well.well-sm
      #popup_head.col-md-12 
        %span 
        #popup_close.glyphicon.glyphicon-remove-circle
          
      #popup_content

    = yield
